<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="BITCollege_NNContext" connectionString="Data Source =localhost;Initial Catalog= BITCollege_NNContext;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICollegeRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63458/CollegeRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollegeRegistration"
                contract="BITCollegeService.ICollegeRegistration" name="BasicHttpBinding_ICollegeRegistration" />
        </client>
    </system.serviceModel>
</configuration>